@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Generan style */
:root{
  --section-bg: #f1f1f1;
}
*{
  box-sizing: border-box;
}
body{

}
h2, h1{
  color: #566366;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
img{
  max-width: 100%;
}
p{
  color: #919191;
}
/* slider style */
.carousel-inner img {
  width: 100%;
  height: 100vh;
}
.carousel-indicators li {
    width: 10px ;
    height: 10px;
    border-radius: 100% ;
}
.carousel-caption {
    top: 30%;
    bottom: 10px;
}
.carousel-caption h1{
  font-size: 60px;
  color: #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  margin-bottom: 50px;
}
.carousel-caption .more{
  border: 3px solid #fff;
  width: 24%;
  margin: 0 auto;
  padding: 14px 0;
}
.carousel-caption a{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
/* NavBar style */
#navbar {
    background: #252e30;
}
.nav-link{
  color: #fff !important;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}
.nav-link:hover{
  color: #2ecc71 !important;
  cursor: pointer;
}
.dropdown-menu{
  background-color: #252e30;
  border: none;
}
.dropdown-item {
  color: #fff;
}
.navbar.navbar-expand-lg.navbar-light {
    float: right;
}
/* Features section */
#features, #skills, #education, #work{
  margin: 100px auto;
}
#features h2{
  padding-bottom: 30px;
}

/* About section */
#about, #resume{
  background: var(--section-bg);
}
.about-me {
    padding: 50px 50px 0 50px;
}
.about-feature{
  margin-top: 10px;
}
.left-img {
    padding-left: 0 !important;
}
.left-text {
    display: flex;
    margin-bottom: 20px;
}
.left-text i{
  margin-top: 15px;
  font-size: 30px;
  color: #2dcb71;
  padding-right: 15px;
}
.about-me h4 {
    text-transform: uppercase;
    color: #566366;
    font-weight: bold;
}
.about-feature {
    margin-top: 40px;
}

/* Skills section */
.left-skills h2 {
    padding-bottom: 30px;
}
.left-skills .more {
    margin-top: 50px;
}
.left-skills .more a {
    color: #2dcb71;
    display: block;
    border: 2px solid;
    padding: 15px;
    width: 34%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.right-skills {
    text-transform: uppercase;
    color: #566366;
    font-size: 20px;
}
.progress {
    border-radius: 0;
    height: 1.5rem;
    margin-bottom: 50px;
    background-color: #f2f2f1;
    font-size: 19px;
    font-weight: bold;
}
.progress-bar {
    background-color: #2ecc71;
    text-align: right;
    padding-right: 10px;
}

/* Resume section */
#resume{
  padding: 100px 0;
  position: relative;
}
.resume_section {
  width: 60%;
  margin: auto;

}
#resume::before {
    content: "";
    border-top: 20px solid #ccc0;
    border-bottom: 20px solid #0000;
    border-right: 20px solid #f000;
    border-left: 20px solid #f1f1f1;
    transform: rotate(90deg);
    position: absolute;
    bottom: -39px;
    left: 50%;
}
.resume_section h2, .resume_section .more {
    margin: auto;
}
.resume_section h2{
  margin-bottom: 30px !important;
}
.resume_section .more{
  margin-top: 20px !important;
}
.resume_section .more a {
   color: #2dcb71;
   display: block;
   border: 2px solid;
   padding: 15px;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
}
/* Education */
.right-education h4 {
    text-transform: uppercase;
    color: #566366;
    font-size: 20px;
    font-weight: bold;
}
.badge.badge-secondary {
    background: #2ecc71;
    border-radius: 0;
    padding: 6px 8px;
}
.education-section{
  margin-bottom: 60px;
}
.education-section:last-child {
    margin-bottom: 0;
}
